@import './root.css';


img{
    width: 100%;
    object-fit: cover;
}

.imgContainer{
    max-width: 15%;
}

.cartItem{
    position: relative;
    top:5rem;
}


.itemCart, .cartz{
    display: flex;
    align-items: center;
    gap: 2em;
    max-width: 90%;
}

.checkoutContainer{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    padding-bottom: 3rem;
    gap: 1rem;
    position: relative;
    top:7rem;
    margin-right: 6rem;
}

.checkout, .cancelBtn {
    padding: 8px 14px 8px 14px;
    background: #404040;
    border:none;
    color: var(--BgandBtntext-color);
    width: 120px;
}

button{
    cursor: pointer;
}
.wish{
    padding: 5px 8px 5px 8px;
    background: #404040;
    border:none;
    color: var(--BgandBtntext-color);
    width: 80px;
    font-size: 12px;
    position:relative;
    top:5px;
}

.cartz{
    flex-grow: 1;
}

h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.itemCart{
    padding-top: 5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    margin-left: 2rem;
    display: flex;
    align-items: stretch;
    gap: 2em;
    overflow: hidden;
}



.title{
    background: #404040;
    color: var(--BgandBtntext-color);
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
    top:5rem;
}

h2{
    font-weight: 100 !important;
}

.btnDelete{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.empty-cart{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
    top: 50%;
    height: 100vh;
}

.delete{
    background: var(--BgandBtntext-color);
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
}

.totalPrice{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    top:5rem;
    padding-top: 1rem;
    right:6rem;
}

.price{
    font-size: 1.5rem;
}