@import './root.css';

@font-face {
    font-family: 'Jomolhari';
    src: url('../assets/fonts/Jomolhari.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  body{
   
    overflow-x: hidden;
    background: var(--BgandBtntext-color);
    color: #4C4949 !important;
    font-family:  'Jomolhari', serif;
    font-weight: var(--font-weight);
}
.navconmain{
    width: 100%;
    background: blue;
    position: absolute;
    
}
.navcon{
    background: red;
    width:100%;
    position: relative;
  
}
nav{
    padding:2rem;
    width: 100%;
    position: absolute;
    height: 3rem;
    z-index: 13;
    display: flex !important;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

.textoverlay.one{
    position: absolute;
    z-index: 13;
    top:20rem;
}

.titlehome, .subtitle, .shopbtn{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.textOne{
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #F5F0F0 !important;
}

.textTwo{
    font-size: 2rem;
    color: #F5F0F0 !important;
}

.bttn{
    margin-top: 1rem;
   width:7rem;
   height: 2.5rem;
   border-radius: 1rem;
   background: transparent;
   border: 1px solid #F5F0F0;
   color: #F5F0F0;
}
.textoverlay.two{
    position: relative;
}

.textoverlay.three{
    position: absolute;
}
.textoverlay{
    width: 100%;
    height: 70%;
}

.icon{
    width: 1.5rem;
    color: #4C4949;
}


.categories{
    display: flex;
    font-size: 1.5em;
    gap: 1rem;
}



ul{
    display: flex;
    justify-content: center;
    gap: 3px;
    z-index: 18;

}

li{
    list-style: none;
   
}

a{
    text-decoration: none;
    color: var(--TextandBtn-color) !important;
}



.main{
    width:100vw;
    height:100vh;
    z-index: 11;
}

.Logo{
    position: absolute;
    font-size: 2em;
    width:95%;
    display: flex;
    justify-content: center;
}



.jewelry{
    max-width: 100%;
    position: relative;
    
}

.shadow{
    width: 100vw;
    height: 120vh;
    background: #D9D9D9;
    z-index: 10;
    position: absolute;
    opacity: 25%;

}

.newCollection{
    width: 100%;
    height: 100%;
    background: white;
    z-index: 15;
    position: relative;
    bottom: 8rem;
    display: block;
}

.pic{
    background: url('../assets/landingpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120%;
    display: flex;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.textcollection{
    width: 100%;
    height: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.collectiontitle, .collectionsubtitle{
    display: flex;
    width:100%;
    justify-content: center;
}

.collectiontitle{
font-size: 1.2rem;
padding-bottom: 14px;
position: relative;
bottom:1.2rem;
}

.collectionsubtitle{
position: relative;
bottom:1.2rem;
}

.collectionitemscontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 100%;
    height:100%;
    gap:3rem;
}

.extra{
    width:100%;
    height:100%;
    padding:1rem;
}
/*
.collectionitem.one{
    background: red;
}

.collectionitem.two{
    background: purple;
}
.collectionitem.three{
    background: peachpuff;
}
.collectionitem.four{
    background: blue;
}
.collectionitem.five{
    background: gold;
}
.collectionitem.six{
    background: green;
}
*/
.imagecollectioncontainer{
    width:100%;
    height:80%;
    background: black;
    border-radius: 2rem;
}

.collectiondetails, .productcollectiontitle, .productcollectiondesc, .productcollectionprice{
    width:100%;
}

.collectiondetails{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    gap:3px;
}

.productcollectiontitle,  .productcollectionprice{
   -webkit-text-stroke: #4C4949 1px;
}

.productcollectiondesc{
    opacity: 70%;
}

.catalog{
    width:100%;
    height:100%;
   
    
}

.catalogcontainer{
    width:100%;
    height:70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #333;
}

.catalogone, .catalogtwo, .catalogthree{
    position: relative;
}
.cover{
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover > p{
    color: #fff;
    font-size: 2rem;
}
.catalogone{
    background: pink;
}

.catalogtwo{
    background: red;
}

.catalogthree{
    background: blue;
}

.newsletter{
    width:100%;
    height: 65%;
    background: pink;
    display: flex;
    justify-content: center;
}

.newstitle, .newssubtitle, .newssignup{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.newstitle{
    font-size: 3rem;
}
.newssubtitle{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.newsinputcontainer{
    width:35%;
    position: relative;
}

.newslettercontainer{
    width:100%;
    
}
input{
    width: 100%;
    height: 3.5em;
    outline: none;
    border: none;
    border-radius: 2rem;
}

.newsbtncontainer{
    width: 30%;
    position: absolute;
    background: transparent;
    bottom:5px;
    height:1.9em;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left:70%;
    border-left: 1px solid #333;
}

.newsbtncontainer > button{
    width: 95%;
    height: 3.9em;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    border: none;
    position: relative;
    bottom:14px;
    left:8px;
    font-family:  'Jomolhari', serif;
    background: transparent;
    z-index: 5;
}

button > p {
    font-size: 1.3rem;
    z-index: 8;
    position: relative;
    top:2px;
}

.footer{
    width:100%;
    height: 40%;
    background: #333;
}

.footerlinks, .copyright{
    width:100%;
}

.footerlinkscontainer{
    height: 85%;
    background: #E8E9E9;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footerlinks{
    background: red;
    display: grid;
    grid-template-columns: 20% 20% 60%;
}

.policylinks{
    background: blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.copyright{
    height: 15%;
    background: #4C4949;
}
/*responsive*/
.hamburger{
display: none; 
cursor: pointer;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.hamburger .line {
height: 3px;
background-color: rgb(18, 16, 16);
border-radius: 3px;
transition: all 0.3s ease;
}

 .mobile-menu{
    display: none;
}

@media screen and (max-width: 480px) {
    .jewelry{
       visibility: hidden;
    }
    
    .hamburger{
        display: flex;
      }
    nav{
        display: flex !important;
       justify-content: flex-end;
        padding: 1em;
        
    }
    
    .Links, .Logo{
        display: none;
    }

 .mobile-menu ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
   position: relative;
   top: 1rem;
 }

.top{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}



 .mobile-menu p {
    font-size: 1.8rem !important;
    margin-left: 1rem;
}


  

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out; 
    }
    
    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
   /* .mobile-menu ul li {
        margin: 20px 0;
    }*/
    
    .mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1.5rem;
    }
    
    
    .mobile-menu.open {
        right: 0; }
}


@media screen and (min-width: 500px) and (max-width: 1000px){
    .jewelry{
        max-width: 100vw;
        position: fixed;
        height: 100vh;
    }
}



