@import './root.css';

@font-face {
    font-family: 'Jomolhari';
    src: url('../assets/fonts/Jomolhari.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  body{
   
    overflow-x: hidden;
    background: var(--BgandBtntext-color);
    color: #4C4949 !important;
    font-family:  'Jomolhari', serif;
   
}
.navconmain{
    width: 100%;
    background: blue;
    position: absolute;
    
}



.navcon{
    background: red;
    width:100%;
    position: relative;
  
}
nav{
    padding:2rem;
    width: 100%;
    position: absolute;
    height: 3rem;
    z-index: 13;
    display: flex !important;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

.textoverlay.one{
    position: absolute;
    z-index: 13;
    top:20rem;
}

.titlehome, .subtitle, .shopbtn{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.textOne{
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #F5F0F0 !important;
}

.textTwo{
    font-size: 2rem;
    color: #F5F0F0 !important;
}

.bttn{
    margin-top: 1rem;
   width:7rem;
   height: 2.5rem;
   border-radius: 1rem;
   background: transparent;
   border: 1px solid #F5F0F0;
   color: #F5F0F0;
}
.textoverlay.two{
    position: relative;
}

.textoverlay.three{
    position: absolute;
}
.textoverlay{
    width: 100%;
    height: 70%;
}

.icon{
    width: 1.5rem;
    color: #4C4949;
    
}


.categories{
    display: flex;
    font-size: 1.5em;
    gap: 1rem;
}


.logmail{
    position:relative;
    bottom:3px;
    font-size: 14px;
}

.logoutcon{
    width: 6rem;
    height: 5rem;
    background: white;
    position: absolute;
    z-index: 50;
    font-size: 14px;
    top:3rem;
    left:90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
   
}

.logoutcon > p{
    padding:3px;
}
.linksul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    z-index: 25;

}

.categoriesul{
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 25;
}

.Links{
    z-index: 40;
}


li{
    list-style: none;
    color: #404040;
   
}

a{
    text-decoration: none;
    color: var(--TextandBtn-color) !important;
}



.main{
    width:100vw;
    height:100vh;
    z-index: 11;
}

.Logo{
    position: absolute;
    font-size: 2em;
    width:95%;
    display: flex;
    justify-content: center;
    color: #404040;
}

.basiq{
    color: #404040;
}

.Logo > a{
    color: #404040;

}



.jewelry{
    max-width: 100%;
    position: relative;
    
}

.shadow{
    width: 100vw;
    height: 120vh;
    background: #D9D9D9;
    z-index: 10;
    position: absolute;
    opacity: 25%;

}

.newCollection{
    width: 100%;
    height: 100%;
    background: white;
    z-index: 15;
    position: relative;
    bottom: 8rem;
    display: block;
}

.close{
    width:100%;
    position: relative;
    bottom:4rem;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-right:5px;
}
.closebtn{
    width: 1.5rem;
    height:1.5rem;
    cursor: pointer;
}

.pic{
    background: url('../assets/landingpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120%;
    display: flex;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.textcollection{
    width: 100%;
    height: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.collectiontitle, .collectionsubtitle{
    display: flex;
    width:100%;
    justify-content: center;
}

.collectiontitle{
font-size: 1.2rem;
padding-bottom: 14px;
position: relative;
bottom:1.2rem;
}

.collectionsubtitle{
position: relative;
bottom:1.2rem;
}

.collectionitemscontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 85%;
    height:100%;
    gap:5rem;
}

.collectionitemscontainer .collectionitem:nth-child(2) .imgs {
    width: 75%;
}

.collectionitemscontainer .collectionitem:nth-child(3) .imgs {
    width: 90%;
}
.collectionitemscontainer .collectionitem:nth-child(6) .imgs {
    height: 53%;
}

.collectionitemscontainer .collectionitem:nth-child(5) .imgs {
    width: 55%;
}
.collectionitemscontainer .collectionitem:nth-child(4) .imgs {
    width: 75%;
}
.collectionitemscontainer .collectionitem:nth-child(1) .imgs {
   width: 70%;
   height:100%;
}
.extra{
    width:100%;
    height:100%;
    padding:1rem;
    display: flex;
    justify-content: center;
}

.collectionitem.one{
    width:50%;
    height:100%;
    position: relative;
}

.collectionitem.two{
    width:70%;
    height:100%;    position: relative;
}
.collectionitem.three{
    width:70%;
    height:100%;
    position: relative;
}
.collectionitem.four{
    width:70%;
    height:100%;
        position: relative;
}
.collectionitem.five{
    width:70%;
    height:100%;
    position: relative;
}
.collectionitem.six{
    width:70%;
    height:100%;
    position: relative;
}

.imagecollectioncontainer{
    width:90%;
    height:100%;
    border-radius: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgs{
    max-width: 100%;
    height:100%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    position: absolute;
}

.collectiondetails, .productcollectiontitle, .productcollectiondesc, .productcollectionprice{
    width:100%;
}

.collectiondetails{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    gap:3px;
}

.productcollectiontitle,  .productcollectionprice{
   -webkit-text-stroke: #4C4949 1px;
}

.productcollectiondesc{
    opacity: 70%;
   position: absolute;
   display: inline;
   width:150%;
  
   
}
.elipsis{
    width: 100%;
    position: relative;
    width:50%;
    height:1rem;
}
.catalog{
    width:100%;
    height:100%;
   position: relative;
   top:10rem;
    
}

.catalogcontainer{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.catalogone, .catalogtwo, .catalogthree{
    position: relative;
    
}
.cover{
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:4.5rem;
}



.cover > p{
    color: #fff;
    font-size: 3em;
    z-index: 980;
    text-align: center;
    opacity: 0;
}

.arrowcontainer{
    width:100%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: end;
}

.arrow{
    width:4rem;
    height:4rem;
    color:white;
    opacity: 0;
    transition: transform 0.2s ease-in-out;
    position: relative;
    right:10px;
    cursor: pointer;
}



.catalogone:hover img,
.catalogtwo:hover img,
.catalogthree:hover img {
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;
}







.catalogone:hover .cover p,
.catalogtwo:hover .cover p,
.catalogthree:hover .cover p  {
  opacity: 1;
  visibility: visible;
}


.catalogone:hover .arrow,
.catalogtwo:hover .arrow,
.catalogthree:hover .arrow
 {
  opacity: 1;
  visibility: visible;
  transform: translateX(8px);
}

.newsletter{
    width:100%;
    height: 65%;
    background: url('../assets/newsbg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 90;
    position: relative;
    top:15rem;
}

.imgmen, .imgwomen{
    width:100%;
    height:100%;
   opacity: 100%;
}

.imgaccessory{
    width:100%;
    height:100%;
}



.newstitle, .newssubtitle, .newssignup{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 90;
}

.newstitle{
    font-size: 3rem;
}
.newssubtitle{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.newsinputcontainer{
    width:35%;
    position: relative;
}

.newslettercontainer{
    width:100%;
   position: absolute;
   z-index: 30;
    
}
.newsinput{
    width: 100%;
    height: 2em;
    outline: none;
    border: none;
    border-radius: 2rem;
    z-index: 90;
    padding-left: 10px;
}

.modal{
    position: absolute;
    width: 45em;
    height: 20em;
    left:-8rem;
    bottom: -3rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.md{
    width: 40%;
    height: 35%;
    position:relative;
}

.title-modal{
    font-size:2em;
    color:#e4d999;
}

.newscover{
    width:100%;
    height: 100%;
    background: white;
    opacity: 50%;
    position: absolute;
   z-index: 10;
}

.newsbtncontainer{
    width: 30%;
    position: absolute;
    background: transparent;
    bottom:5px;
    height:1.9em;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left:70%;
    border-left: 1px solid #333;
}

.newsbtncontainer > button{
    width: 95%;
    height: 3.9em;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    border: none;
    position: relative;
    bottom:14px;
    left:8px;
    font-family:  'Jomolhari', serif;
    background: transparent;
    z-index: 5;
}

button > p {
    font-size: 1.3rem;
    z-index: 8;
    position: relative;
    top:2px;
}

.footer{
    position: relative;
    top:15rem;
    width:100%;
    height: 30%;
    background: #333;
}

.footerlinks, .copyright{
    width:100%;
}

.footerlinkscontainer{
    height: 85%;
    background: #E8E9E9;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:3em;
}

.footerlinks{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    font-size: 14px;
    padding-left: 3rem;
}
.acc{
    padding-bottom: 1px;
}
.footerlinksone, .footerlinkstwo, .footerlinksthree{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}


.footerlinksthree{
    width:100%;
}

.termcon{
    width:35%;
    height:30em;
    background:white;
    position: absolute;
    z-index: 90;
    bottom:10em;
    left:26em;
    overflow-y: scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 1rem;
}

.termtitle{
    font-size: 1.5rem;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.titles{
    font-size: 1.5rem;
}

.subtitles{
    font-size: 1.3rem;
}


.termcon > p{
    padding-left:2rem;
}

.termbtn{
    width:100%;
    height:10%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    padding-top:10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
   
}

.terma, .termc{
    padding: 8px 2rem 8px 2rem;
    border: none;
    background: #404040;
    color:white;
    border-radius: 5rem;
}


.titlefooterlink{
    padding-bottom: 8px;
}

.footerlinksthreesocial{
    height:1.1rem;
}
.policylinks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



.policylinksone, .policylinkstwo, .policylinksthree{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.copyright{
    height: 15%;
    background: #4C4949;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.copyright > p{
    color: #EFE4E4;
    opacity: 94%;
    font-size: 13px;
}
/*responsive*/
.hamburger{
display: none; 
cursor: pointer;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.hamburger .line {
height: 3px;
background-color: rgb(18, 16, 16);
border-radius: 3px;
transition: all 0.3s ease;
}

 .mobile-menu{
    display: none;
}

@media screen and (max-width: 480px) {
    .jewelry{
       visibility: hidden;
    }
    
    .hamburger{
        display: flex;
      }
    nav{
        display: flex !important;
       justify-content: flex-end;
        padding: 1em;
        
        
    }
    
    .Links, .Logo{
        display: none;
    }

 .mobile-menu ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
   position: relative;
   top: 1rem;
 }

.top{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}



 .mobile-menu p {
    font-size: 1.8rem !important;
    margin-left: 1rem;
}


  

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%; 
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out; 
    }
    
    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
   /* .mobile-menu ul li {
        margin: 20px 0;
    }*/
    
    .mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1.5rem;
    }
    
    
    .mobile-menu.open {
        right: 0; }
}


@media screen and (min-width: 500px) and (max-width: 1000px){
    .jewelry{
        max-width: 100vw;
        position: fixed;
        height: 100vh;
    }
}



