@import './root.css';
@font-face {
    font-family: 'Jomolhari';
    src: url('../assets/fonts/Jomolhari.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
body{
    color: #4C4949 !important;
    font-family:  'Jomolhari', serif !important;
    font-weight: 100 !important;
}
.men, .women, .accessory{
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.men:hover, .women:hover, .accessory:hover{
    transform: scale(1.2);
}




.productpagementitle{
    width:100%;
    height:8em;
    position: relative;
    top:5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.productpagementitle > p{
    font-size: 3em;
    margin-left: 1.5rem;
}

.sfcontainer, .filtercategory{
    width:8rem;
    height:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4C4949;
    border-radius: 12px;
  
}

.filtercategory > p{
    font-size: 1rem;
}

.sfcontainer{
    gap:3px;
}

.filtercategory{
    gap: 1rem;
}



.productListMen .product:nth-child(2) .men,
.productListMen .product:nth-child(4) .men {
    width:80%;
}

.productListMen .product:nth-child(1) .men{
   width:75%;
}

.productListMen .product:nth-child(3) .men{
    width:90%;
}




.productListWomen, .productListMen, .productListAccess{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 85%;
    height:100%;
    gap:5rem;
    position: relative;
    top:5rem;
}

.productListWomen .product:nth-child(1) .women,
.productListWomen .product:nth-child(2) .women,
.productListWomen .product:nth-child(3) .women,
.productListWomen .product:nth-child(4) .women,
.productListWomen .product:nth-child(5) .women,
.productListWomen .product:nth-child(6) .women
 {
    width: 80%;
    
 }

 

.productListAccess .product:nth-child(2) .accessory,
.productListAccess .product:nth-child(4) .accessory{
width:80%;
}
.productListAccess .product:nth-child(1) .accessory{
width:50%;
}
.productListAccess .product:nth-child(3) .accessory{
width:60%;  
}

.productListAccess .product:nth-child(1),
.productListAccess .product:nth-child(2),
.productListAccess .product:nth-child(3),
.productListAccess .product:nth-child(4){
display: flex;
justify-content: center;
align-items: center;
}
.flex{
    width:100%;
    height:100%;
    padding:1rem;
    display: flex;
    justify-content: center;

}


.sortandfilter{
    width: 95%;
    position: relative;
    top:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:5em;
    border-bottom: 2px solid rgba(76, 73, 73, 0.16);
}

.filter{
    display:flex;
    gap:1rem;
}
.iconplus{
    width:1.3rem;
    height:1.3rem;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product{
    display: flex;
    justify-content: center;
}

.productinfo{
    max-width: 15%;
}

.productDetail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top:5em;
}

.desc{
    width: 50%;
}

.txt{
    position: relative;
    top:3rem;
    width:100%;
    display: flex;
    justify-content: end;
}

.buttoncon{
    display: flex;
    width: 100%;
    position: relative;
    top:3rem;
    justify-content: end;
    gap:3px;
}

.txt{
    margin-top: 12px;
    font-style: italic;
}

.BtnCart{
    background: #4C4949;
    color: var(--BgandBtntext-color);
    border: none;
    padding: 7px 14px 7px 14px;
}

.PriceContainer, .QtyContainer{
    display: flex;
    gap: 1rem;
}

.QtyContainer{
    justify-content: center;
    gap: 1rem;
}

.add, .subtr{
    background: var(--BgandBtntext-color);
    width: 14px;
    display: flex;
    justify-content: center;
}

.mencl{
    width: 10rem;
    height: 8rem;
    padding-top: 2px;
    background:white;
    position: absolute;
    left:88%;
    top:4rem;
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.rating{
    display:flex;
    align-items: center;
}

.checkcon{
    display: grid;
   grid-template-columns: repeat(2,1fr);
    width:80%;
   
}

.cb{
    width:3rem;
    height:1rem;
    position:relative;
   
}

.iconplus{
    cursor:pointer;
}

@media screen and (max-width: 641px) {

    .buttoncon{
        justify-content:center;
    }

    .QtyContainer{
        width:50%;
        height:1.5rem;
    }

  

    .minus, .plus{
        width:15px !important;
        height:15px !important;    }
        .QtyContainer > button{
            width:1.2rem;
            height:1rem;
        }
    

    .desc{
        width:100%;
        text-align: left;
    }
    .QtyContainer > p{
        font-size:1.3rem;
    }
    .productinfo{
        max-width: 40%;
    }

    .product-title-container > h2{
        width:80%;
        text-align: center;
       
    }

    .product-title-container{
        display:flex;
        justify-content: center;
    }
    
            .productListMen .product:nth-child(2) .men,
        .productListMen .product:nth-child(4) .men {
            width:65%;
        }

        .productListMen .product:nth-child(1) .men{
        width:60%;
        }

        .productListMen .product:nth-child(3) .men{
            width:75%;
        }


    .men{
        width:50%;
    }

    .mens, .menlink, .womens, .womenlink, .accessories, .accessorylink{
        display:flex;
        justify-content: center;
    }

    .filtercategory.rating > p{
        position:relative;
        left:5px;
    }
    .sfcontainer{
     position: relative;
     left:7rem;
   
    }
    .sfcontainer, .filtercategory{
        width:6rem;
        height:2rem;
    }

    .sfcontainer > p, .filtercategory > p{
        font-size:14px;
    }

    
    .sortandfilter{
        flex-direction: column-reverse;
        top:5rem;
        height:6em;
        padding-bottom: 1rem;
    }
   
    .mencl{
        left:55%;
        top:2.5rem;
    }

    h1{
        font-size: 2rem;
    }
    .productListMen, .productListWomen, .productListAccess{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-top: 2rem;
    }
    .mens{
        width: 100%;
    }

 
    

    p{
        text-align: center;
    }

    button{
        width: 100%;
    }


    .BtnCartContainer, .BtnWishListContainer{
        padding-top: 1rem;
        justify-content: center;
    }
}



@media (min-width: 642px) and (max-width: 1024px) {
  
    .productinfo{
        max-width: 30%;
    }
    .desc{
        width: 85%;
    }
    .desc > p,  .QtyContainer, .PriceContainer{
        font-size: 1.2rem;
    }

    .product-title-container{
        width:50%;
        text-align: justify;
        display: flex;
        justify-content: center;
    }
    .minus, .plus{
width:20px !important;
height:20px !important;    }

.QtyContainer > button{
    width:1.2rem;
    height:1.2rem;
}
.QtyContainer{
    width:50%;
    height:1.2rem;
}

   .rating > span{
    font-size: 1.2rem;
   }
    svg.rate{
       width:40px;
       height: 40px;
    }

    .BtnCart{
        font-size: 1.2rem;
    }
   
}