@import './root.css';

.men, .women, .accessory{
    max-width: 50%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.men:hover, .women:hover, .accessory:hover{
    transform: scale(1.2);
}

.mens, .womens, .accessories, a{
    display: flex !important;
    justify-content: center !important;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
.productListMen, .productListWomen, .productListAccess{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: auto;
    padding-top: 5em;
    max-width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product{
    display: flex;
    justify-content: center;
}

.productinfo{
    max-width: 15%;
}

.productDetail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    padding-bottom: 1rem;
}

.desc{
    width: 50%;
}

.BtnCartContainer, .txt{
    display: flex;
    justify-content: flex-end;
}

.txt{
    margin-top: 12px;
    font-style: italic;
}

.BtnCart{
    background: var(--TextandBtn-color);
    color: var(--BgandBtntext-color);
    padding: 7px 14px 7px 14px;
}

.PriceContainer, .QtyContainer{
    display: flex;
    gap: 1rem;
}

.QtyContainer{
    justify-content: center;
    gap: 1rem;
}

.add, .subtr{
    background: var(--BgandBtntext-color);
    width: 14px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {

    h1{
        font-size: 2rem;
    }
    .productListMen, .productListWomen, .productListAccess{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-top: 2rem;
    }
    .mens{
        width: 100%;
    }

 
    .productinfo{
        max-width: 50%;
    }

    p{
        text-align: center;
    }

    button{
        width: 100%;
    }


    .BtnCartContainer{
        padding-top: 1rem;
        justify-content: center;
    }
}



